@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(fonts\Open_Sans\static\OpenSans\OpenSans-Regular.ttf);
  format: ("ttf");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: "Open Sans", sans-serif;
}

.page {
  margin-left: 100px;
  margin-right: 450px;
}

.newsicon {
  position: absolute;
  height: auto;
  width: 100px;
  border: 2px solid rgba(128, 64, 142, 255);
  background-color: rgba(128, 64, 142, 255);
  padding-right: 1369px;
  margin: collapse;
}

.tart {
  top: 13px;
  left: 200px;
  width: 116px;
  height: 37px;
  position: absolute;
  background: lightpink;
}

.title {
  padding-top: 73px;
}

table,
td {
  border: 1px solid #333;
  margin-left: 1174px;
  margin-top: -605px;
  box-sizing: border-box;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.talien {
  width: auto;
  height: 100px;
}

.view {
  background-color: rgba(128, 64, 142, 255);
}
